<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parneet.plotline">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".PlotlineView"
            android:exported="false" />
        <provider
            android:authorities="com.parneet.plotline.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:enabled="true"
            android:grantUriPermissions="true">

            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>
    </application>

</manifest>